{{template "header.html" .}}
<style>
table { border-collapse: collapse; width: 100%; border-radius: 0.5em; box-shadow: 0 0 2px #666; margin: 1em 0; overflow: hidden }
td { white-space: nowrap; padding: 0.1em 0.5em; }
td.small { font-size:80%; width: 1px }
td .display { display: flex; min-height: 2.5em; align-items:center }
td.tag-edit .tag-edit-name { cursor: pointer}
td .display input { outline:none; border:none; font:inherit; background:transparent; flex-grow: 1; }
tr:nth-child(even) { background: #f4f5f6; }
.page {display:inline-block; min-width: 2em; text-align:center}
</style>

<div style='display:flex;align-items:center'>
    <input class=border1 style='flex-grow:1;margin-right:0.5em' id=search>
    <div class='tag-box button' style='margin-right: 0.8em'><a href='javascript:location.href="?q="+encodeURIComponent(search.value)'>搜索</a></div>
    <div class='tag-box button' id='tag-edit-new-tag' style='margin-right: 0.8em'><a>新标签</a></div>
    <div class='tag-box button {{if and (eq .T.sort 1) (not .T.desc)}}selected{{end}}'><a href='?sort=1&pid={{.T.pid}}'>A-Z</a></div>
    <div class='tag-box button {{if and (eq .T.sort 1) (.T.desc)}}selected{{end}}'><a href='?sort=1&desc=1&pid={{.T.pid}}'>Z-A</a></div>
    <div class='tag-box button {{if and (eq .T.sort 0) (not .T.desc)}}selected{{end}}'><a href='?sort=0&pid={{.T.pid}}'>最旧</a></div>
    <div class='tag-box button {{if and (eq .T.sort 0) (.T.desc)}}selected{{end}}'><a href='?sort=0&desc=1&pid={{.T.pid}}'>最新</a></div>
</div>

<div>
    <table id=list>
        {{if .T.pid}}{{if .T.ptag.Valid}}
        <tr>
            <td>
                <div class=display ><span><b>{{.T.ptag.Name}}</b> 下的子标签</span>
                    <div class='tag-box button' style='margin-left: 0.8em'><a href='?sort=0&edittagid={{.T.pid}}'>返回</a></div>
                </div>
            </td>
        </tr>
        {{end}}{{end}}
        {{range .T.tags}}
        <tr id='tag{{.Id}}'>
            <td tag-id={{.Id}} class='tag-edit' tag-data='{{.String}}'>
                <div class=display >
                    <div class=tag-edit-lock style='{{if not .Lock}}display:none{{end}}'><b>[锁定]</b></div>
                    {{if .PendingReview}}
                        <div><b>[待审核]</b></div>
                        {{if .Name}}
                        <input class=tag-edit-name value="{{.Name}}" readonly/>
                        <div>&nbsp;&rarr;&nbsp;</div>
                        {{end}}
                        <input class=tag-edit-name value="{{.ReviewName}}" readonly/>
                    {{else}}
                        <input class=tag-edit-name value="{{.Name}}"/>
                    {{end}}
                </div>
            </td>
            <td class='small'>{{.Creator}}</td>
            <td class='small'>{{if .PendingReview}}-{{else}}+{{.Reviewer}}{{end}}</td>
            <td class='small'>{{formatUnixMilli .UpdateUnix}}</td>
        </tr>
        {{end}}
    </table>
    <table id=edit style='display:none'>
    </table>
</div>

<div id=page>
    {{range (generatePages .T.page .T.pages)}}
        {{if eq . 0}}
        <span>...</span>
        {{else}}
        <div class='tag-box nav-page button {{if eq . $.T.page}}selected{{end}}'>
            {{if eq . $.T.page}}
            <span><b>{{.}}</b></span>
            {{else}}
            <a href='?p={{.}}&sort={{$.T.sort}}&desc={{if $.T.desc}}1{{end}}'>{{.}}</a>
            {{end}}
        </div>
        {{end}}
    {{end}}
</div>
{{template "footer.html" .}}
